:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-blue: 199 100% 20%;
  --clr-red: 3 100% 33%;
  --clr-green: 101 100% 23%;
  --clr-orange: 40 100% 40%;
  --clr-darkorange: 40 100% 35%;
  --clr-darkred: 3, 100%, 28%;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Open Sans", sans-serif;
  --ff-sans-heading: "Roboto", sans-serif;
  --ff-sans-heading2: "Quicksand", sans-serif;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general */
body {
  font-family: var(--ff-sans-normal);
  color: #333;
  background-color: hsl(var(--clr-white));
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  padding: 0 1.5em;
  margin: 0 auto;
  max-width: 60rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.basic-link {
  font-weight: 500;
  color: hsl(var(--clr-blue));
}

.basic-link:hover {
  color: hsl(var(--clr-red));
}

.call-to-action {
  display: block;
  font-family: var(--ff-sans-heading);
  text-decoration: none;
  background-color: hsl(var(--clr-red));
  color: white;
  padding: 0.5rem 3rem;
  margin-right: 0.5rem;
  margin-block: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
}

.call-to-action:hover {
  background-color: hsl(var(--clr-darkred));
}

@media (min-width: 30rem) {
  .call-to-action {
    display: inline-block;
  }
}
/* Primary Header */
.primary-header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.primary-header .logo-img {
  margin: 2rem;
  width: 5rem;
}
.primary-header .mobile-nav-toggle {
  display: none;
}
.primary-header .primary-navigation {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.primary-header .primary-navigation a {
  font-family: var(--ff-sans-heading);
  color: hsl(var(--clr-dark));
  text-decoration: none;
  text-transform: uppercase;
}
.primary-header .primary-navigation a:hover {
  text-decoration: underline hsl(var(--clr-red));
}
.primary-header .primary-navigation .join {
  background-color: hsl(var(--clr-red));
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}
.primary-header .primary-navigation .join:hover {
  background-color: hsl(var(--clr-darkred));
  text-decoration: none;
}
.primary-header .primary-navigation[data-visible=true] {
  transform: translateX(0%);
}

@media (max-width: 50rem) {
  .primary-header {
    /* Apply if backdrop-filter is supported */
  }
  .primary-header .logo-img {
    width: 4rem;
  }
  .primary-header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    cursor: pointer;
    background-color: transparent;
    background-image: url("../img/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 1.75rem;
    border: 0;
    aspect-ratio: 1;
    top: 3.5rem;
    right: 2rem;
  }
  .primary-header .mobile-nav-toggle[aria-expanded=true] {
    background-image: url("../img/icon-close.svg");
  }
  .primary-header .primary-navigation {
    gap: 2rem;
    list-style: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    text-align: center;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    /* defaul background if backdrop-filter not supported */
    background-color: hsl(var(--clr-blue)/0.95);
  }
  .primary-header .primary-navigation a {
    color: white;
  }
  .primary-header .primary-navigation a:hover {
    text-decoration: underline white;
  }
  @supports (backdrop-filter: blur(1rem)) {
    .primary-header .primary-navigation {
      background: hsl(var(--clr-blue)/0.8);
      backdrop-filter: blur(0.75rem);
    }
  }
}
.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;
}
.showcase .col {
  flex: 1;
}
.showcase .showcase-title {
  flex: 1;
}
.showcase .showcase-title img {
  width: 3rem;
  vertical-align: middle;
  margin-right: 3px;
}
.showcase .showcase-title h1 {
  font-family: var(--ff-sans-heading2);
  margin: 0.5rem 0;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  text-shadow: 2px 2px #AAA;
  text-transform: uppercase;
}
.showcase h2 {
  font-family: var(--ff-sans-heading);
  font-size: 1.5rem;
  color: hsl(var(--clr-blue));
  margin-bottom: 2rem;
  text-align: center;
}
.showcase a {
  display: block;
  font-family: var(--ff-sans-heading);
  text-decoration: none;
  background-color: hsl(var(--clr-red));
  color: white;
  padding: 1em 0;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: auto;
}
.showcase a:hover {
  background-color: hsl(var(--clr-darkred));
}

.bible-quote {
  max-width: 40rem;
  margin: 3rem auto 5rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  font-style: italic;
}
.bible-quote .reference {
  font-style: normal;
  font-size: 0.8rem;
}

@media (min-width: 40rem) {
  .showcase {
    flex-direction: row;
    padding-block: 4rem;
  }
  .showcase .showcase-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .showcase .showcase-title img {
    width: 4rem;
  }
  .showcase .showcase-title h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .showcase h2 {
    font-size: 2rem;
  }
  .showcase a {
    width: 60%;
  }

  .bible-quote {
    font-size: 1.25rem;
  }
}
.activities-heading h2 {
  font-family: var(--ff-sans-heading);
  color: hsl(var(--clr-blue));
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.activities-heading p {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.activities-grid {
  display: grid;
  gap: 0.75rem;
  margin: 3rem auto 6rem;
}
.activities-grid a {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  color: white;
  font-family: var(--ff-sans-heading);
  font-variant: small-caps;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  transition: transform 200ms ease-in-out;
  padding: 2rem 1rem;
}
.activities-grid a:hover {
  transform: scale(1.05);
}
.activities-grid .meetings,
.activities-grid .science {
  background-color: hsl(var(--clr-green));
}
.activities-grid .christmas {
  background-color: hsl(var(--clr-darkorange));
}
.activities-grid .curriculum,
.activities-grid .track {
  background-color: hsl(var(--clr-blue));
}
.activities-grid .poetry {
  background-color: hsl(var(--clr-red));
}

@media (min-width: 40rem) {
  .activities-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .activities-grid a {
    padding: 3rem 1rem;
  }
  .activities-grid .science {
    background-color: hsl(var(--clr-blue));
  }
  .activities-grid .poetry {
    background-color: hsl(var(--clr-green));
  }
  .activities-grid .track {
    background-color: hsl(var(--clr-red));
  }
}
.page-section {
  max-width: 900px;
  margin: auto;
  padding: 2rem 2rem 5rem;
}
.page-section h1 {
  color: hsl(var(--clr-darkorange));
  font-family: var(--ff-sans-heading);
  font-size: 2.5rem;
}
.page-section h2 {
  font-family: var(--ff-sans-heading);
  color: hsl(var(--clr-blue));
  margin: 3rem 0 0.5rem;
}
.page-section h3 {
  margin-block: 1.5rem;
}
.page-section p,
.page-section ol,
.page-section ul {
  margin: 1rem 0;
}
.page-section ol,
.page-section ul {
  padding-left: 1.25rem;
}
.page-section li {
  margin-bottom: 0.5rem;
}
.page-section .email {
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
}
.page-section .address {
  font-weight: bold;
  margin: 1.5rem 0;
}
.page-section img {
  display: block;
  width: min(100%, 35rem);
}
.page-section ol {
  padding-left: 1.25rem;
}

footer {
  background-color: hsl(var(--clr-blue));
  color: white;
  padding: 2rem 0;
}
footer .footer-flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer-flex h3 {
  color: hsl(var(--clr-orange));
  font-family: var(--ff-sans-heading);
}
footer .footer-flex .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer .footer-flex .links ul {
  list-style-type: none;
  line-height: 2;
}
footer .footer-flex .links h3 {
  margin-bottom: 0.25rem;
}
footer .footer-flex .links a {
  color: white;
  text-decoration: none;
}
footer .footer-flex .links a:hover {
  text-decoration: underline;
}
footer .footer-flex .info .email {
  font-size: 1.25rem;
  letter-spacing: 0.75px;
}
footer .footer-flex .info p {
  margin: 1rem 0;
}
footer .footer-flex .info img {
  width: 4rem;
}

@media (min-width: 30rem) {
  footer .footer-flex .links {
    flex-direction: row;
  }
  footer .footer-flex .links div {
    flex: 1;
  }
}
@media (min-width: 50rem) {
  footer .footer-flex {
    flex-direction: row;
  }
  footer .links {
    flex: 2;
  }
  footer .info {
    flex: 1;
  }
}

/*# sourceMappingURL=style.css.map */
