/* general */
body {
  font-family: var(--ff-sans-normal);
  color: #333;
  background-color: hsl(var(--clr-white));
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  padding: 0 1.5em;
  margin: 0 auto;
  max-width: 60rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.basic-link {
  font-weight: 500;
  color: hsl(var(--clr-blue));
}

.basic-link:hover {
  color: hsl(var(--clr-red));
}

.call-to-action {
  display: block;
  font-family: var(--ff-sans-heading);
  text-decoration: none;
  background-color: hsl(var(--clr-red));
  color: white;
  padding: 0.5rem 3rem;
  margin-right: 0.5rem;
  margin-block: 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
}

.call-to-action:hover {
  background-color: hsl(var(--clr-darkred));
}


@media (min-width: 30rem) {
  .call-to-action {
    display: inline-block;
  }
}