// SHOWCASE

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;

  .col {
    flex: 1;
  }

  .showcase-title {
    flex: 1;
    // margin-bottom: 2rem;

    img {
      width: 3rem;
      vertical-align: middle;
      margin-right: 3px;
    }

    h1 {
      font-family: var(--ff-sans-heading2);
      margin: 0.5rem 0;
      letter-spacing: 2px;
      font-size: 1.8rem;
      font-weight: 600;
      color: #333;
      text-shadow: 2px 2px #AAA;
      text-transform: uppercase;
    }
  }

  h2 {
    font-family: var(--ff-sans-heading);
    font-size: 1.5rem;
    color: hsl(var(--clr-blue));
    margin-bottom: 2rem;
    text-align: center;
  }

  a {
    display: block;
    font-family: var(--ff-sans-heading);
    text-decoration: none;
    background-color: hsl(var(--clr-red));
    color: white;
    padding: 1em 0;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin: auto;
  }

  a:hover {
    background-color: hsl(var(--clr-darkred));
  }
}

// BIBLE QUOTE
.bible-quote {
  max-width: 40rem;
  margin: 3rem auto 5rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  font-style: italic;

  .reference {
    font-style: normal;
    font-size: 0.8rem;
  }
}

@media (min-width: 40rem) {
  .showcase {
    flex-direction: row;
    padding-block: 4rem;

    .showcase-title {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 4rem;
      }

      h1 {
        font-size: 2rem;
        text-transform: uppercase;
      }
    }

    h2 {
      font-size: 2rem;
    }

    a {
      width: 60%;
    }
  }

  .bible-quote {
    font-size: 1.25rem;
  }
}



// ACTIVITIES
.activities-heading {

  h2 {
    font-family: var(--ff-sans-heading);
    color: hsl(var(--clr-blue));
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }
}

// ACTIVITIES GRID
.activities-grid {
  display: grid;
  gap: 0.75rem;
  margin: 3rem auto 6rem;

  a {
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    color: white;
    font-family: var(--ff-sans-heading);
    font-variant: small-caps;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: transform 200ms ease-in-out;
    padding: 2rem 1rem;
  }

  a:hover {
    transform: scale(1.05);
  }

  .meetings,
  .science {
    background-color: hsl(var(--clr-green));
  }

  .christmas {
    background-color: hsl(var(--clr-darkorange));
  }

  .curriculum,
  .track {
    background-color: hsl(var(--clr-blue));
  }

  .poetry {
    background-color: hsl(var(--clr-red));
  }

}

@media (min-width: 40rem) {
  .activities-grid {
    grid-template-columns: repeat(3, 1fr);

    a {
      padding: 3rem 1rem;
    }

    .science {
      background-color: hsl(var(--clr-blue));
    }

    .poetry {
      background-color: hsl(var(--clr-green));
    }

    .track {
      background-color: hsl(var(--clr-red));
    }
  }
}