// Content Page Styles
.page-section {
  flex: 1;
  padding: 2rem;

  h1 {
    color: hsl(var(--clr-darkorange));
    font-family: var(--ff-sans-heading);
    font-size: 2.5rem;
  }

  h2 {
    color: hsl(var(--clr-blue));
    margin: 1.5rem 0;
  }

  p {
    margin: 1rem 0;
  }
}