// Content Page Styles
.page-section {
  // height: 100%; for small content???
  padding: 2rem 2rem 5rem;

  h1 {
    color: hsl(var(--clr-darkorange));
    font-family: var(--ff-sans-heading);
    font-size: 2.5rem;
  }

  h2 {
    font-family: var(--ff-sans-heading);
    color: hsl(var(--clr-blue));
    margin: 3rem 0 0.5rem;
  }

  p,
  ol,
  ul {
    margin: 1rem 0;
    max-width: 65ch;
  }

  li {
    margin-bottom: 1rem;
  }

  .email {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .address {
    font-weight: bold;
    margin: 1.5rem 0;
  }

  img {
    display: block;
    width: min(100%, 35rem);
  }

  ol {
    padding-left: 1.25rem;
  }
}