// Content Page Styles
.page-section {
  max-width: 900px;
  margin: auto;
  padding: 2rem 2rem 5rem;

  h1 {
    color: hsl(var(--clr-darkorange));
    font-family: var(--ff-sans-heading);
    font-size: 2.5rem;
  }

  h2 {
    font-family: var(--ff-sans-heading);
    color: hsl(var(--clr-blue));
    margin: 3rem 0 0.5rem;
  }

  h3 {
    margin-block: 1.5rem;
  }

  p,
  ol,
  ul {
    margin: 1rem 0;
  }

  ol,
  ul {
    padding-left: 1.25rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .email {
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 1.5px;
  }

  .address {
    font-weight: bold;
    margin: 1.5rem 0;
  }

  img {
    display: block;
    width: min(100%, 35rem);
  }

  ol {
    padding-left: 1.25rem;
  }
}