// Custom properties
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-blue: 199 100% 20%;
  --clr-red: 3 100% 33%;
  --clr-green: 101 100% 23%;
  --clr-orange: 40 100% 40%;
  --clr-darkorange: 40 100% 35%;
  --clr-darkred: 3, 100%, 28%;

  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Open Sans", sans-serif;
  --ff-sans-heading: "Roboto", sans-serif;
  --ff-sans-heading2: 'Quicksand', sans-serif;
}